<a href="https://colab.research.google.com/github/iYuuba21/latihanDasarPemograman/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#TIPE DATA INTEGER
print("Contoh Data Integer") 
print(2) 
print(-10)
a = 10
print(a)
type(a)

Contoh Data Integer
2
-10
10

int

In [9]:
#Tipe Data Float
print(1.0) 
print(1.9)

zz=(2.8) 
print(zz) 

type(zz)

1.0
1.9
2.8

float

In [13]:
#Tipe Data String
print("Bayu Putra")
print("21")

dasarPemrogranan="21"
print(a) 

type(a)

Bayu Putra
21
21

str

In [17]:
#TIPE DATA BOOLEAN
print("Contoh Data Boolean") 
print(True)
print(False)

Contoh Data Boolean
True
False

In [21]:
a, b, c=1, 2,"Mantap"

print('a:', a)
print('b:', b) 
print('c:', c)

d=e=f=10
print('d:', d) 
print('e:', e) 
print('f:', f)

a: 1
b: 2
c: Mantap
d: 10
e: 10
f: 10

In [24]:
nama="Bayu Putra"
usia=20
sudah_menikah=False

print('nama:', nama) 
print('usia:', usia)
print('sudah_menikah:', sudah_menikah)

nama: Bayu Putra
usia: 20
sudah_menikah: False

In [29]:
a=2000;
b=2000;
c=1.5;
d=a+50;
e=b+50;
result=d+e-c;
print(result)

type(result)

4098.5

float

In [37]:
#Keliling Lingkaran

s=int(input("masukan nilai sisi:")) 

keliling= s*s*s*s
print(keliling)

masukan nilai sisi:50
6250000

In [38]:
print("Bayu Putra") 
print("20220040216") 
print("089517698057")

Bayu Putra
20220040216
089517698057

In [39]:
Nama="Bayu Putra"
NIM="20220040216"
telp="089517698057"
print(Nama) 
print(NIM) 
print(telp)

Bayu Putra
20220040216
089517698057

In [39]:
#Luas Keliling Lingkaran

Luas="2"
Keliling="

In [44]:
import math
r = float(input("Masukan Jari-jari : "))

luas = math.pi*(r*r)
keliling = 2*math.pi*r

print ("Luas Lingkaran \t\t= ",luas)
print ("Keliling Lingkaran\t= ",keliling)

Masukan Jari-jari : 1
Luas Lingkaran 		=  3.141592653589793
Keliling Lingkaran	=  6.283185307179586

In [45]:
#Luas keliling Lingkaran

d=3
v=3.14
Keliling lingkaran=d*v
print("Keliling lingkaran")

SyntaxError: ignored

In [47]:
phi = 3.14
r = input("Masukkan panjang jari-jari lingkaran: ")
k = 2 * phi*r
print("Keliling Lingkaran adalah {}".format(k))

Masukkan panjang jari-jari lingkaran: 20

TypeError: ignored

In [49]:


pi=3.14
pi=float(input("masukan nilai d:")) 

keliling=pi*d
print(keliling)

masukan nilai d:20
41000.0