<a href="https://colab.research.google.com/github/iYuuba21/latihanDasarPemograman/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list_1 = [100,200,500,100]
print("[100,200,500,100]")
print("nilai maksimum dari list =",(max(list_1)))

print("\n")

list_2 = [100,-100,500,200]
print("[100,-100,500,200]")
print("nilai minimum dari list = ",(min(list_2)))

print("\n")

list_3 = ['a','e','i','u']
list_3[:0] = ["O"]
print("original list ['a','e','i','u']")
print ("Memasukan huruf a pada list",list_3)

[100,200,500,100]
nilai maksimum dari list = 500


[100,-100,500,200]
nilai minimum dari list =  -100


original list ['a','e','i','u']
Memasukan huruf a pada list ['O', 'a', 'e', 'i', 'u']

In [2]:
from pickle import TUPLE3
tuple = ("N","A","M","A")
tuple1 = ("N")
tuple2 = ("A")
tuple3 = ("M")
tuple4 = ("A")
print("tuple original",tuple)
print(tuple1+tuple2+tuple3+tuple4,"\n")

tuple2  = (0, 200, 1000, 2, 3, 9000, 10)
print("nilai dari tuple (0, 200, 1000, 2, 3, 9000, 10)")
print("nilai maksimum dari tuple= ",(max(tuple2)))

print("\n")

tuple3  = (0, 200, 1000, 2, 3, 9000, 10)
print("nilai dari tuple (0, 200, 1000, 2, 3, 9000, 10)")
print("nilai minimum dari tuple = ",(min(tuple2)))

tuple original ('N', 'A', 'M', 'A')
NAMA

nilai dari tuple (0, 200, 1000, 2, 3, 9000, 10)
nilai maksimum dari tuple=  9000


nilai dari tuple (0, 200, 1000, 2, 3, 9000, 10)
nilai minimum dari tuple =  0

In [3]:
#Membership Test for Dictionary Keys
dict = {100: 125, 300: 905, 505: 250, 700: 490, 900: 801}
print("[100,125,300,905,505,250,700,490,900,801]")
print("nilai minimum dari list =",(min(dict)))

[100,125,300,905,505,250,700,490,900,801]
nilai minimum dari list = 100