<a href="https://colab.research.google.com/github/iYuuba21/latihanDasarPemograman/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Tugas variabel dan tipe data

Nama="Bayu Putra"
NIM="20220040216"
kelas="Ti22 J"

print(Nama) 
print(NIM) 
print(kelas)

Bayu Putra
20220040216
Ti22 J

In [10]:
#No 1

integer="Tipe data angka"
string="Tipe data kata"
float="Tipe data desimal"
boolean="Tipe data true atau false"

print('integer:',integer) 
print('string:',string) 
print('float:',float) 
print('boolean:',boolean)

#TIPE DATA INTEGER
print("Contoh Data Integer")
print(2)
print(-10)
a = 10
print(a)
type(a)

#Tipe Data String
print("contoh tipe data string") 
print("Bayu Putra")
print("21")

dasarPemrogranan="21"
print(a)

type(a)

#Tipe Data Float
print("contoh tipe data float") 
print(1.0)
print(1.9)

zz=(2.8)
print(zz)

type(zz)

#TIPE DATA BOOLEAN
print("Contoh Data Boolean")
print(True)
print(False)

integer: Tipe data angka
string: Tipe data kata
float: Tipe data desimal
boolean: Tipe data true atau false
Contoh Data Integer
2
-10
10
contoh tipe data string
Bayu Putra
21
10
contoh tipe data float
1.0
1.9
2.8
Contoh Data Boolean
True
False

In [11]:
#No 2

Nama="Bayu Putra"
NIM="20220040216"
telp="089517698057"
print(Nama)
print(NIM)
print(telp)

Bayu Putra
20220040216
089517698057

In [12]:
#No 3

a=5000;
b=2000;
c=200;
d=a+500;
e=b+500;
result=d+e+c;
print(result)

8200

In [19]:
#No 4

phi=3.14
r=21
keliling=2*phi*r
print(keliling)

#volume kubus

p=5
l=10
t=15
volume=p*l*t
print(volume)

131.88
750